{{ define "main" }}

<section id="single">
    <h1 class="title">{{ .Title }}</h1>

 {{ $wordCount := .Params.manual_wordcount | default .WordCount }}
{{ $readingTime := .Params.manual_reading_time | default (div (add $wordCount 199) 200) }}

<div class="tip">
  <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
  <span class="split">·</span>
  <span>{{ $wordCount }} words</span>
  <span class="split">·</span>
  <span>{{ $readingTime }} min read</span>
</div>

    
    {{ if or .Site.Params.showToc .Params.showToc }}
        {{ partial "toc.html" . }}
    {{ end }}


    <div class="content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
    
    {{ partial "comment.html" . }}

</section>

{{ end }}

